<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>University of South Florida</h1> - <h3>Agosto 2022 - Mayo 2026</h3></li>
            <p>Biomedical Engineering with a Minor in Computer Science.</p>
        </ul>
        <ul>
            <li><h1>Argentina Programa</h1> - <h3>Septiembre 2021 - Agosto 2022</h3></li>
            <p>Curso de progrmación con el fin de ser Full Stack Web Developer Jr.</p>
        </ul>
        <ul>
            <li><h1>SoloLearn SQL Course</h1> - <h3>Junio 2022</h3></li>
            <p>Curso SQL DE SoloLearn</p>
        </ul>
        <ul>
            <li><h1>SEAD</h1> - <h3>2016 - 2019</h3></li>
            <p>Título de bachiller con orientación a Ciencias Sociales y Humanidades.</p>
        </ul>
    </div>
</div>
